.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a087;
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar li {
    float: left;
    border-right:1px solid #bbb;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightslategray;
}